<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [7]:
%%sql

select
orderdate,
orderkey*10 + linenumber as order_line_number,
(quantity*netprice*exchangerate) as net_quantity,
sum(quantity*netprice*exchangerate) over(partition by orderdate) as daily_net_revenue,
(quantity*netprice*exchangerate)*100 / sum(quantity*netprice*exchangerate) over(partition by orderdate) as perc_daily_revenue
from sales
order by orderdate, perc_daily_revenue desc
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderdate,order_line_number,net_quantity,daily_net_revenue,perc_daily_revenue
0,2015-01-01,10043,2395.10,11640.80,20.58
1,2015-01-01,10061,1552.32,11640.80,13.34
2,2015-01-01,10022,1302.91,11640.80,11.19
3,2015-01-01,10020,1146.75,11640.80,9.85
4,2015-01-01,10050,975.16,11640.80,8.38
5,2015-01-01,10021,950.25,11640.80,8.16
6,2015-01-01,10041,578.52,11640.80,4.97
7,2015-01-01,10081,574.05,11640.80,4.93
8,2015-01-01,10001,423.28,11640.80,3.64
9,2015-01-01,10040,263.11,11640.80,2.26

In [12]:
%%sql
select *,
100*net_revenue / daily_net_revenue as perc_daily_revenue
from(
  select
  orderdate,
  orderkey*10 + linenumber as order_line_number,
  (quantity*netprice*exchangerate) as net_revenue,
  sum(quantity*netprice*exchangerate) over(partition by orderdate) as daily_net_revenue
  from sales
  order by orderdate, daily_net_revenue desc
  ) as revenue_by_day

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderdate,order_line_number,net_revenue,daily_net_revenue,perc_daily_revenue
0,2015-01-01,10000,63.49,11640.80,0.55
1,2015-01-01,10001,423.28,11640.80,3.64
2,2015-01-01,10010,108.75,11640.80,0.93
3,2015-01-01,10020,1146.75,11640.80,9.85
4,2015-01-01,10021,950.25,11640.80,8.16
...,...,...,...,...,...
199868,2024-04-20,33980341,914.61,96879.43,0.94
199869,2024-04-20,33980342,150.18,96879.43,0.16
199870,2024-04-20,33980350,147.78,96879.43,0.15
199871,2024-04-20,33980351,2019.62,96879.43,2.08
199872,2024-04-20,33980352,56.83,96879.43,0.06

In [27]:
%%sql
with yearly_cohort as (
select DISTINCT
customerkey,
Extract(year from min(orderdate) over(partition by customerkey) )as cohort_year
from sales
)
select
y.cohort_year,
extract(year from orderdate) as purchase_year,
sum(s.quantity*s.netprice*s.exchangerate) as net_revenue
from sales s
left join yearly_cohort y on s.customerkey = y.customerkey
group by purchase_year, y.cohort_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   cohort_year purchase_year  net_revenue
0         2015          2015   7370979.48
1         2015          2016    392623.48
2         2016          2016   9990990.20
3         2015          2017    479841.31
4         2016          2017    497028.11
5         2017          2017  12244469.63
6         2015          2018   1069850.87
7         2016          2018   1074607.29
8         2017          2018   1407065.13
9         2018          2018  21115924.55
10        2015          2019   1235991.48
11        2016          2019   1565400.72
12        2017          2019   1764716.90
13        2018          2019   3229188.22
14        2019          2019  24022798.65
15        2015          2020    386489.60
16        2016          2020    474087.09
17        2017          2020    625928.03
18        2018          2020   1171126.65
19        2019          2020   1295044.99
20        2020          2020   7265759.44
21        2015          2021    872845.99
22        2016          2021    964417.85
23        2017          2021   1329858.72
24        2018          2021   2201262.39
25        2019          2021   2337594.77
26        2020          2021   1016399.07
27        2021          2021  12635597.87
28        2015          2022   1569787.72
29        2016          2022   2164681.10
30        2017          2022   2428882.80
31        2018          2022   4534295.81
32        2019          2022   4848980.74
33        2020          2022   1891708.40
34        2021          2022   3014082.50
35        2022          2022  24412138.13
36        2015          2023   1157633.91
37        2016          2023   1265242.63
38        2017          2023   1714010.18
39        2018          2023   3271753.92
40        2019          2023   3440099.20
41        2020          2023   1435051.04
42        2021          2023   2242369.63
43        2022          2023   4237220.04
44        2023          2023  14345184.96
45        2015          2024    356186.62
46        2016          2024    364066.76
47        2017          2024    464802.56
48        2018          2024    936833.89
49        2019          2024    751725.53
50        2020          2024    312983.02
51        2021          2024    495686.18
52        2022          2024   1223450.12
53        2023          2024    634143.37
54        2024          2024   2856649.33