<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [2]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [39]:
%%sql
with monthly_revenue as(
select
to_char(orderdate,'yyyy-mm') as month,
sum(quantity*netprice*exchangerate) as net_revenue
from sales
where orderdate >= '2023-01-01'
group by month
order by month
)
select *,
FIRST_VALUE(net_revenue) over(order by month) as first_month_revenue,
Last_VALUE(net_revenue) over(order by month ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) as last_month_revenue,
nth_VALUE(net_revenue,3) over(order by month) as first_month_revenue,
LAG(net_revenue) over(order by month) as previous_month_revenue,
LEAD(net_revenue) over(order by month) as next_month_revenue,
100* (net_revenue - LAG(net_revenue) over(order by month))/LAG(net_revenue) over(order by month) as monthly_growth
from monthly_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

16 rows affected.

,month,net_revenue,first_month_revenue,last_month_revenue,first_month_revenue,previous_month_revenue,next_month_revenue,monthly_growth
0,2023-01,3664431.34,3664431.34,483851.39,NaN,NaN,4465204.57,NaN
1,2023-02,4465204.57,3664431.34,483851.39,NaN,3664431.34,2244316.52,21.85
2,2023-03,2244316.52,3664431.34,483851.39,2244316.52,4465204.57,1162796.16,-49.74
3,2023-04,1162796.16,3664431.34,483851.39,2244316.52,2244316.52,2943005.99,-48.19
4,2023-05,2943005.99,3664431.34,483851.39,2244316.52,1162796.16,2864500.03,153.10
5,2023-06,2864500.03,3664431.34,483851.39,2244316.52,2943005.99,2337639.34,-2.67
6,2023-07,2337639.34,3664431.34,483851.39,2244316.52,2864500.03,2623919.79,-18.39
7,2023-08,2623919.79,3664431.34,483851.39,2244316.52,2337639.34,2622774.85,12.25
8,2023-09,2622774.85,3664431.34,483851.39,2244316.52,2623919.79,2551322.61,-0.04
9,2023-10,2551322.61,3664431.34,483851.39,2244316.52,2622774.85,2700103.38,-2.72
10,2023-11,2700103.38,3664431.34,483851.39,2244316.52,2551322.61,2928550.93,5.83
11,2023-12,2928550.93,3664431.34,483851.39,2244316.52,2700103.38,2677498.55,8.46
12,2024-01,2677498.55,3664431.34,483851.39,2244316.52,2928550.93,3542322.55,-8.57
13,2024-02,3542322.55,3664431.34,483851.39,2244316.52,2677498.55,1692854.89,32.30
14,2024-03,1692854.89,3664431.34,483851.39,2244316.52,3542322.55,483851.39,-52.21
15,2024-04,483851.39,3664431.34,483851.39,2244316.52,1692854.89,NaN,-71.42